# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\AN3_SEM2\SD\ASSIGNMENTS\assignment-3-CristianaMirelaLupu-master\assignment-3-CristianaMirelaLupu-master\Assignments\Assignment 3\assign3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
